@media all and (min-width:320px) and (max-width:460px) {
    @font-face {
        font-family: 'Roboto';
        src: url(Roboto/Roboto-Regular.ttf);
    }

    BODY {
        background-color: white;
        font-family: Roboto;
    }

    .top {
        display: flex;
        flex-direction: row;
        width: 75%;
        align-items: center;
        justify-content: space-between;

    }

    .return {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 15px;


    }

    .logoheader {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 33px;
        width: 200px;
    }

    .imgpage {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .nomresto{display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: 'Shrikhand';
        color: black;
    margin-left: 15px;
    margin-right: 15px;}

    #Menu{background-color: #f2f2f2;}

    .contenumenu {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #f2f2f2;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 100%;
        margin-top: -50px;
    }

    .carte{border-radius: 25px;
        margin-left: 15px;
        width:90%;
        height:100px;
        background-color: white;
        font-size: 14px;
    }

    .titremenu{}

    .commande{ display: flex;
        justify-content: center;
    align-items: center;
    width: 106px;
    border: solid 9px #9356DC;
    border-radius: 20px;
    background-color: #9356DC ;}

    #baspage{width:100%;
        height: 300px;
        background-color: #474747;}

    .bas {
        padding-top: 5px;
        padding-left: 27px;
        width: 100%;
        color: white;
    }

    .logofooter {
        font-family: 'Shrikhand';
        font-size: 22px;
        color: white;
        width: 100px;
    }

}