@media all and (min-width:320px) and (max-width:460px) {
    @font-face {
        font-family: 'Roboto';
        src: url(Roboto/Roboto-Regular.ttf);
    }

    BODY {
        background-color: white;
        font-family: Roboto;
    }

    .top {
        display: flex;
        flex-direction: row;
        width: 75%;
        align-items: center;
        justify-content: space-between;

    }

    .return {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 15px;
        color: black;
        text-decoration: none;
    }

    a:visited{ color:black;}

    .logoheader {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 33px;
        width: 200px;
    }

    .imgpage {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .nomresto {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: 'Shrikhand';
        color: black;
        margin-left: 15px;
        margin-right: 15px;
    }

    #Menu {
        background-color: #f2f2f2;
    }

    .titremenu {
        font-size: 14px;
        border-bottom: solid 2px #99E2D0;
        width: 50px;
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 20px;

    }

    .contenumenu {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #f2f2f2;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 100%;
        margin-top: -50px;
    }

    .textmenu {margin-left: 5px;}
    .prix{margin-right: 5px;
        margin-top: 20px;}


    .carte {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
        margin-left: 15px;
        width: 90%;
        height: 80px;
        background-color: white;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
        font-size: 14px;
        margin-bottom: 20px;
    }


    #button{display: flex;
        justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
padding-bottom: 20px;}

    .commande {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        border-radius: 50px;
        background-color: #9356DC;
        background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        color:white;
        transform: scale(1);
        transition-property:all;
        transition-duration: 400ms;}
    .commande:hover {
        transform: scale(1.15);}
    

    #baspage {
        width: 100%;
        height: 300px;
        background-color: #474747;
    }

    .bas {
        padding-top: 5px;
        padding-left: 27px;
        width: 100%;
        color: white;
    }

    .logofooter {
        font-family: 'Shrikhand';
        font-size: 22px;
        color: white;
        width: 100px;
    }
    .mail{  text-decoration: none;
        color:white;
        cursor: pointer;}

}
/*responsive tablet-pc*/
@media all and (min-width:460px) and (max-width:1700px) {
    @font-face {
        font-family: 'Roboto';
        src: url(Roboto/Roboto-Regular.ttf);
    }

    BODY {
        background-color: white;
        font-family: Roboto;
    }

    .top {
        display: flex;
        flex-direction: row;
        width: 60%;
        align-items: center;
        justify-content: space-between;

    }

    .return {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 15px;
        color: black;
        text-decoration: none;
    }

    a:visited{ color:black;}

    .logoheader {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 33px;
        width: 200px;
    }

    .imgpage {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .nomresto {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: 'Shrikhand';
        color: black;
        margin-left: 15px;
        margin-right: 15px;
    }

    #Menu {
        background-color: #f2f2f2;
    }


    .titremenu {
        font-size: 14px;
        border-bottom: solid 2px #99E2D0;
        width: 50px;
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 20px;

    }
    
    #appear-1{
        animation-name:appear;
        animation-duration:1500ms;
        animation-delay:0s;
    }
    #appear-2{
        animation-name:appear;
        animation-duration:2500ms;
        animation-delay:0s;
    }
    #appear-3{
        animation-name:appear;
        animation-duration: 3500ms;
        animation-delay:0s;
    }

    .coeur1 :hover{transform: scale(1.13);
    background-color:  #9356DC}

    .coeur1{
        background-color: rgba(1, 28, 55, 0);
        
       border-radius: 10rem;
        cursor: pointer;
        overflow: hidden;
     position: relative;
     transition: transform 450ms, background-color 300ms 150ms;
   
    
}
    

    .contenumenu {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #f2f2f2;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 100%;
        margin-top: -50px;
    }

    .textmenu {margin-left: 5px;}
    .prix{display: flex;
        width: 800px;
        margin-top: 20px;
        justify-content: space-between;}


    .valide{display: flex;
        justify-content: center;
align-items: center;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 24px;
            background-color: #99E2D0;
            width:85px;
            height:100px;
}
.check{
    color:white;
font-size:35px ;}

    .carte {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
        margin-left: 4%;
        width: 90%;
        height: 100px;
        background-color: white;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
        font-size: 14px;
        margin-bottom: 20px;
    }


    #button{display: flex;
        justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
padding-bottom: 20px;}

    .commande {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        border-radius: 50px;
        background-color: #9356DC;
        background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        color:white;
        transform: scale(1);
        transition-property:all;
        transition-duration: 400ms;}
    .commande:hover {
        transform: scale(1.15);}

    #baspage {
        width: 100%;
        height: 300px;
        background-color: #474747;
    }

    .bas {
        padding-top: 5px;
        padding-left: 27px;
        width: 100%;
        color: white;
    }

    .logofooter {
        font-family: 'Shrikhand';
        font-size: 22px;
        color: white;
        width: 100px;
    }
    .mail{  text-decoration: none;
        color:white;
        cursor: pointer;}

}